<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- 总宏：根据 xMate_type 选择不同 urdf 与 ros2_control -->
  <xacro:macro name="rokae_robot"
    params="
      xMate_type
      robot_ip
      local_ip
      use_fake_hardware:=false">

    <!-- CR7 -->
    <xacro:if value="${xMate_type == 'xMateCR7'}">
      <xacro:include filename="$(find rokae_description)/urdf/xMateCR7.urdf.xacro"/>
      <xacro:include filename="$(find rokae_description)/urdf/xMateCR7.ros2_control.xacro"/>
      <xacro:cr7_ros2_control
        robot_ip="${robot_ip}"
        local_ip="${local_ip}"
        use_fake_hardware="${use_fake_hardware}"/>
    </xacro:if>

    <!-- SR4 -->
    <xacro:if value="${xMate_type == 'xMateSR4'}">
      <xacro:include filename="$(find rokae_description)/urdf/xMateSR4.urdf.xacro"/>
      <xacro:include filename="$(find rokae_description)/urdf/xMateSR4.ros2_control.xacro"/>
      <xacro:sr4_ros2_control
        robot_ip="${robot_ip}"
        local_ip="${local_ip}"
        use_fake_hardware="${use_fake_hardware}"/>
    </xacro:if>

    <!-- ER7 -->
    <xacro:if value="${xMate_type == 'xMateER7'}">
      <xacro:include filename="$(find rokae_description)/urdf/xMateER7.urdf.xacro"/>
      <xacro:include filename="$(find rokae_description)/urdf/xMateER7.ros2_control.xacro"/>
      <xacro:er7_ros2_control
        robot_ip="${robot_ip}"
        local_ip="${local_ip}"
        use_fake_hardware="${use_fake_hardware}"/>
    </xacro:if>

    <!-- ER7Pro -->
    <xacro:if value="${xMate_type == 'xMatePro7'}">
      <xacro:include filename="$(find rokae_description)/urdf/xMatePro7.urdf.xacro"/>
      <xacro:include filename="$(find rokae_description)/urdf/xMatePro7.ros2_control.xacro"/>
      <xacro:er7p_ros2_control
        robot_ip="${robot_ip}"
        local_ip="${local_ip}"
        use_fake_hardware="${use_fake_hardware}"/>
    </xacro:if>
    <!-- ER3Pro -->
    <xacro:if value="${xMate_type == 'xMatePro3'}">
      <xacro:include filename="$(find rokae_description)/urdf/xMatePro3.urdf.xacro"/>
      <xacro:include filename="$(find rokae_description)/urdf/xMatePro3.ros2_control.xacro"/>
      <xacro:er3p_ros2_control
        robot_ip="${robot_ip}"
        local_ip="${local_ip}"
        use_fake_hardware="${use_fake_hardware}"/>
    </xacro:if>

    <!-- AR5L -->
    <xacro:if value="${xMate_type == 'AR5L'}">
      <xacro:include filename="$(find rokae_description)/urdf/AR5-5_07L-W4C4A2.urdf.xacro"/>
      <xacro:include filename="$(find rokae_description)/urdf/AR5-5_07L-W4C4A2.ros2_control.xacro"/>
      <xacro:AR5L_ros2_control
        robot_ip="${robot_ip}"
        local_ip="${local_ip}"
        use_fake_hardware="${use_fake_hardware}"/>
    </xacro:if>
    <!-- AR5R -->
    <xacro:if value="${xMate_type == 'AR5R'}">
      <xacro:include filename="$(find rokae_description)/urdf/AR5-5_07R-W4C4A2.urdf.xacro"/>
      <xacro:include filename="$(find rokae_description)/urdf/AR5-5_07R-W4C4A2.ros2_control.xacro"/>
      <xacro:AR5R_ros2_control
        robot_ip="${robot_ip}"
        local_ip="${local_ip}"
        use_fake_hardware="${use_fake_hardware}"/>
    </xacro:if>

    <xacro:if value="${xMate_type == 'xMateSR5'}">
      <xacro:include filename="$(find rokae_description)/urdf/xMateSR5.urdf.xacro"/>
      <xacro:include filename="$(find rokae_description)/urdf/xMateSR5.ros2_control.xacro"/>
      <xacro:sr5_ros2_control
        robot_ip="${robot_ip}"
        local_ip="${local_ip}"
        use_fake_hardware="${use_fake_hardware}"/>
    </xacro:if>

    <xacro:if value="${xMate_type == 'xMateCR12'}">
      <xacro:include filename="$(find rokae_description)/urdf/xMateCR12.urdf.xacro"/>
      <xacro:include filename="$(find rokae_description)/urdf/xMateCR12.ros2_control.xacro"/>
      <xacro:cr12_ros2_control
        robot_ip="${robot_ip}"
        local_ip="${local_ip}"
        use_fake_hardware="${use_fake_hardware}"/>
    </xacro:if>

    <xacro:if value="${xMate_type == 'xMateCR18'}">
      <xacro:include filename="$(find rokae_description)/urdf/xMateCR18.urdf.xacro"/>
      <xacro:include filename="$(find rokae_description)/urdf/xMateCR18.ros2_control.xacro"/>
      <xacro:cr18_ros2_control
        robot_ip="${robot_ip}"
        local_ip="${local_ip}"
        use_fake_hardware="${use_fake_hardware}"/>
    </xacro:if>

    <xacro:if value="${xMate_type == 'xMateCR20'}">
      <xacro:include filename="$(find rokae_description)/urdf/xMateCR20.urdf.xacro"/>
      <xacro:include filename="$(find rokae_description)/urdf/xMateCR20.ros2_control.xacro"/>
      <xacro:cr20_ros2_control
        robot_ip="${robot_ip}"
        local_ip="${local_ip}"
        use_fake_hardware="${use_fake_hardware}"/>
    </xacro:if>

    <xacro:if value="${xMate_type == 'xMateER3'}">
      <xacro:include filename="$(find rokae_description)/urdf/xMateER3.urdf.xacro"/>
      <xacro:include filename="$(find rokae_description)/urdf/xMateER3.ros2_control.xacro"/>
      <xacro:er3_ros2_control
        robot_ip="${robot_ip}"
        local_ip="${local_ip}"
        use_fake_hardware="${use_fake_hardware}"/>
    </xacro:if>

    <xacro:if value="${xMate_type == 'xMateSR3'}">
      <xacro:include filename="$(find rokae_description)/urdf/xMateSR3.urdf.xacro"/>
      <xacro:include filename="$(find rokae_description)/urdf/xMateSR3.ros2_control.xacro"/>
      <xacro:sr3_ros2_control
        robot_ip="${robot_ip}"
        local_ip="${local_ip}"
        use_fake_hardware="${use_fake_hardware}"/>
    </xacro:if>

    <!-- 其他机型（如有）按同样模式继续加 -->
    
  </xacro:macro>

</robot>
