<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="xMateCR20">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import xMateCR20 urdf file -->
    <xacro:include filename="$(find rokae_description)/urdf/xMateCR20.urdf.xacro" />

    <!-- Import control_xacro -->
    <xacro:include filename="xMateCR20.ros2_control.xacro" />


    <xacro:xMateCR20_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
