<?xml version="1.0"?>
<launch>
    <arg name="robot_ip" doc="IP address of the robot server (remote)." default="192.168.21.10"/>
    <arg name="local_ip" doc="IP address of the workstation PC (local)." default="192.168.21.130"/>
    

    <!-- Load hardware interface -->
    <node name="rokae_hardware" pkg="rokae_hardware" type="rokae_hardware" output="screen" respawn="true" respawn_delay="3">
        <param name="robot_ip" type="str" value="$(arg robot_ip)"/>
        <param name="local_ip" type="str" value="$(arg local_ip)"/>
    </node>  
    

</launch>
