<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="AR5-5_07R-W4C4A2">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import AR5-5_07R-W4C4A2 urdf file -->
    <xacro:include filename="$(find rokae_description)/urdf/AR5-5_07R-W4C4A2.urdf.xacro" />

    <!-- Import control_xacro -->
    <xacro:include filename="AR5-5_07R-W4C4A2.ros2_control.xacro" />


    <xacro:AR5-5_07R-W4C4A2_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
